@media screen and (min-width: 30em) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .featured-image {
        width: calc(50% - 1em);
    }
}

@media screen and (min-width: 40em) {
    .featured-image {
        width: calc(33% - 1em);
    }
}
        